!*.scss
!*.css
!*.js
!*.json
!*.md
!*.ts

documentation
documentation.json
dist
.angular
.husky
.github
handlebars
npm-debug.log
yarn-error.log
package-lock.json
.gitignore
.prettierignore
*.browserslistrc
*.ps1
ytd_mds_issue_metrics*.md
monthly_mds_issue_metrics*.md
monthly_mds_bug_metrics*.md
ytd_mds_bug_metrics*.md
_typography.scss